@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#tsparticles {
  height: 400px;
}

.particles {
  position: relative;
  width: 100%;
}

.myname {
  color: white;
  position: absolute;
  top: 6rem;
  text-align: center;
  left: 18%;
  width: 65%;
}

.myname h1 {
  color: rgb(241, 240, 240);
  letter-spacing: 0.1rem;
  font-style: italic;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(21, 164, 221),
    0 0 0.2rem rgb(17, 17, 17);
}

.personalInfo {
  position: relative;
  margin: 0 auto;
  margin-top: -150px;
}

.personalDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}



.personalInfo-container {
  background-color: rgb(6, 6, 6);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}

.personal-content {
  padding: 15px;
}

.personal-content h1 {
  letter-spacing: 1px;
  font-size: 35px;
  color: yellow;
  font-family: Helvetica;
}

.personal-content .role {
  color: #fff;
  display: flex;
  justify-content: flex-end;
  margin-right: 14px;
  font-family: "Lucida Sans";
}

.personal-content .role span {
  padding: 2px 0;
  font-style: italic;
  font-size: 14px;
  border-bottom: 1.5px solid green;
}

.personal-content span {
  color: #fff;
}

.tag-line {
  color: #fff;
  text-align: center;
  width: 80%;
  margin: 20px auto 0 auto;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.2;
}


.cv-btn{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.download-btn {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #007bff;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.download-btn:hover {
  background-color: #0056b3;
}


/* ------------- social icons -------------- */

.social-icons {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.social-icons a {
  color: white;
  font-size: 20px;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
  color: #00aced; /* Change to your desired hover color */
}

.icon-linkedin:hover {
  color: #0077b5; /* LinkedIn color */
}

.icon-github:hover {
  color: #333; /* GitHub color */
}

.icon-twitter:hover {
  color: #1da1f2; /* Twitter color */
}

.icon-instagram:hover {
  color: #c13584; /* Instagram color */
}



/* ------------- social icons end-------------- */

.my-img {
  height: 100%;
}

.my-img img {
  width: 100%;
}

@media (min-width: 664px) {
  .myname {
    top: 4rem;
    width: 300px;
    left: 30%;
  }

  .personalInfo {
    max-width: 650px;
    margin-top: -160px;
  }
  .social-icons a {
    font-size: 25px;
  }
 
  .my-img {
    flex: 0 0 calc(36% - 10px);
    display: block;
    align-self: center;
  }
}

@media (min-width: 960px) {
  .myname {
    left: 45%;
    width: auto;
  }
  .myname h1 {
    font-size: 40px;
    position: relative;
    padding: 5px;
  }
  
  .personalInfo {
    max-width: 900px;
    width: 100%;
    margin-top: -140px;
  }

  .personalDetails {
    flex: 0 0 calc(64% - 10px);
  }

  .personal-content h1 {
    font-size: 55px;
  }

  .my-img {
    flex: 0 0 calc(36% - 10px);
    display: block;
    align-self: center;
    height: 100%;
  }

  .my-img img {
    height: 100%;
  }
}
